<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="mystyle.css">  -->
    <!-- <style>
        input,button{
            font-size: 33px;
        }
    </style> -->
</head>
<body>
    <form action="/dashboardjjj.html" method="post"> <!-- post صفحة وهمية عشان ال dashboardjjj.html -->
        <p>Project's name?</p>
        <input name="name" type="text" placeholder="name"><br><br>

        <p>Project's des?</p>
        <input name="des" type="text" placeholder="description"><br><br>

        <p>Git Hub url?</p>
        <input name="url" type="text" placeholder="git hub url"><br><br>

        <p>Project's img?</p>
        <input name="img" type="text" placeholder="img url"><br><br>
        <button>Send Project to DB</button>
    </form>
</body>
</html>